<mat-form-field>
    <mat-label>Nome do Carro</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ano de Fabricação</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ano do Modelo</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Marca</mat-label>
    <mat-select>
      <mat-option value="one">BMW</mat-option>
      <mat-option value="two">Chevrolet</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cor</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button (click)="cadastrarButtonClick()">Cadastrar</button>
</div>


  