<div>
    <h2>Lista de Carros</h2>

    <div class="example-button-row">
        <button (click)="cadastrarButtonClick()" mat-raised-button>Cadastrar</button>

    <table mat-table *ngIf={carros} [dataSource]="carros" class="mat-elevation-z8">

        <ng-container matColumnDef="idcarro">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idcarro}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nomecarro">
          <th mat-header-cell *matHeaderCellDef> Carro </th>
          <td mat-cell *matCellDef="let element"> {{element.nomecarro}} </td>
        </ng-container>
      
        <ng-container matColumnDef="anofabricacaocarro">
          <th mat-header-cell *matHeaderCellDef> Ano de Fabricação </th>
          <td mat-cell *matCellDef="let element"> {{element.anofabricacaocarro}} </td>
        </ng-container>

        <ng-container matColumnDef="anomodelocarro">
          <th mat-header-cell *matHeaderCellDef> Ano Do Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.anomodelocarro}} </td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.marca.nomemarca}} </td>
          </ng-container>

          <ng-container matColumnDef="cor">
            <th mat-header-cell *matHeaderCellDef> Cor </th>
            <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
      
      
</div>
